[submodule "cc-app"]
	path = client/cc-app
	url = https://github.com/brickwedde-dev/cc-app
	branch = main
[submodule "cc-material-helpers"]
	path = client/cc-material-helpers
	url = https://github.com/brickwedde-dev/cc-material-helpers
	branch = main
[submodule "cc-resize-component"]
	path = client/cc-resize-component
	url = https://github.com/brickwedde-dev/cc-resize-component
	branch = main
[submodule "cc-webserver"]
	path = client/cc-webserver
	url = https://github.com/brickwedde-dev/cc-webserver
	branch = main
[submodule "client/cc-api-client"]
	path = client/cc-api-client
	url = https://github.com/brickwedde-dev/cc-api-client
	branch = main
[submodule "server/cc-server"]
	path = server/cc-server
	url = https://github.com/brickwedde-dev/cc-server
	branch = main
[submodule "client/cc-big-table"]
	path = client/cc-big-table
	url = https://github.com/brickwedde-dev/cc-big-table
	branch = main
[submodule "client/cc-dynamicform-client"]
	path = client/cc-dynamicform-client
	url = https://github.com/brickwedde-dev/cc-dynamicform-client
	branch = main
